*.html

# R proj files
.*.Rproj
.RData
.Rhistory
.Rproj.user

# git
.git
.gitignore

# Rmd files

# directories
archives
data-raw
data-rda
sandbox
readme
tests
vignettes
docs

# Readme files
readme_Shiny.md
readme_docker.md
# README.Rmd

# R files
install_packages.R

# Shell files
readme_docker.sh
install_packages.sh
