*.html

# R proj files
.*.Rproj
.RData
.Rhistory
.Rproj.user

# git
.git
.gitignore

# Rmd files
README.Rmd

# directories
archives
data-raw
data-rda
sandbox

# Readme files
readme_Shiny.md
readme_docker.md
install_packages.R
README.md

# Shell files
readme_docker.sh
install_packages.sh
