*.html

# R proj files
.*.Rproj
.RData
.Rhistory
.Rproj.user

# git
.git
.gitignore

# Rmd files
README.Rmd

# directories
archives
data-raw
data/sets_*
sandbox

# Readme files
readme_Shiny.md
readme_docker.md